<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../style/style.css">
    <script src="../scripts/registration.js" type="module" defer></script>
</head>

<body>

    <header class="bg-dark text-white py-3 text-center">
        <a href="/login" id="header-link">LOGIN</a>
        <a href="/homepage" id="header" class="h3">HomePage</a>
        <a href="#" id="header" class="h3">#</a>
        <a href="/login" id="header-link">LOGIN</a>
    </header>

    <div id="registration-container">

        <form id="registration-form" action="/homepage" method="POST">
            <label for="registration-email">Email:</label>
            <input type="email" id="registration-email" required>
            <label for="registration-username">Username:</label>
            <input type="text" id="registration-username" required>
            <label for="registration-fullname">Full Name:</label>
            <input type="text" id="registration-fullname" required>
            <label for="registration-password">Password:</label>
            <input type="password" id="registration-password" required>
            <label for="registration-profile-image">Profile Image:</label>
            <div id="registration-image-container">
                <label class="image-radio" for="emperor">
                    <img src="../img/emperor.jpg" class="registration-img">
                    <input type="radio" name="profile-image" id="emperor" value="../img/emperor.jpg" required>
                </label>
                <label class="image-radio" for="angron">
                    <img src="../img/angron.jpg" class="registration-img">
                    <input type="radio" name="profile-image" id="angron" value="../img/angron.jpg" required>
                </label>
                <label class="image-radio" for="sanguinius">
                    <img src="../img/sanguinius.jpg" class="registration-img">
                    <input type="radio" name="profile-image" id="sanguinius" value="../img/sanguinius.jpg" required>
                </label>
            </div>
            
            <button id="register-button">Register!</button>
        </form>
    </div>

</body>

</html>
